body {
	text-align: center;
	background-color: #F5DEFF;
	font-weight:normal;
 ;

}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

header {
	background-color: #FFED74
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A
	border: 1px black solid;
	padding: 25px;
}

section{
	background-color: #FFE2B8
	border: 12% black solid;
	padding: 35%;

}

section{
	background-color: #FFE2B8
	border: 1px black solid;
	padding: 20px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    width: 62%;
}

aside{
background-color: #FFC675
	border: 1px black solid;
	padding: 20px;
}

article{
	background-color: #E89C6C
	border: 1px black solid;
	padding: 20px;
}

footer{
	background-color: #FF957E
	border: 1px black solid;
	padding: 20px;
}

div{
	background-color: #FFE2B8
	border: 1px black solid;
	padding: 20px;
}
h1 {
	color: #DE91FF;
} 
p {
	font-family: "Optima", sans-serif;
	font-weight: bold;
	color: #DE91FF;
	font-style: italic ;
}